Repository stolostron/konflux-build-catalog, changes with the owners that .github/CODEOWNERS names for each.
All owners: @zhujian7, @xuezhaojun, @clyang82

docs: update CLAUDE.md pipeline structure and add migration playbook
  CLAUDE.md
  playbook/how-to-handle-a-migration-issue.md
Owners: @zhujian7, @xuezhaojun

chore: update Tekton Task Bundles in common_mce_2.7.yaml
  pipelines/common_mce_2.7.yaml
Owners: @zhujian7, @xuezhaojun

chore: update Tekton Task Bundles in common_mce_2.10.yaml
  pipelines/common_mce_2.10.yaml
Owners: @zhujian7, @xuezhaojun

chore: update Tekton Task Bundles in common-oci-ta.yaml
  pipelines/common-oci-ta.yaml
Owners: @clyang82

chore: update Tekton Task Bundles in common.yaml
  pipelines/common.yaml
Owners: @xuezhaojun

chore: update Tekton Task Bundles in common_mce_2.8.yaml
  pipelines/common_mce_2.8.yaml
Owners: @zhujian7, @xuezhaojun

chore: update Tekton Task Bundles in common_mce_2.6.yaml
  pipelines/common_mce_2.6.yaml
Owners: @zhujian7, @xuezhaojun

chore: update Tekton Task Bundles in common_mce_2.9.yaml
  pipelines/common_mce_2.9.yaml
Owners: @zhujian7, @xuezhaojun

chore: update Tekton Task Bundles in common-fbc.yaml
  pipelines/common-fbc.yaml
Owners: @clyang82

Update catalog to use allowed registry
  v4.13/catalog-template.json
  v4.13/catalog/gatekeeper-operator/catalog.json
  v4.13/catalog/multicluster-global-hub-operator-rh/catalog.json
Owners: @zhujian7, @xuezhaojun

Add full bundles
  v4.13/catalog/multicluster-global-hub-operator-rh/catalog.json
Owners: @zhujian7, @xuezhaojun

build source image
  .tekton/common-pipeline-fbc-pull-request.yaml
Owners: @clyang82

build source image
  .tekton/common-pipeline-fbc-pull-request.yaml
  pipelines/common-fbc.yaml
Owners: @clyang82

chore: update Tekton Task Bundles in common-fbc.yaml
  pipelines/common-fbc.yaml
Owners: @clyang82

chore: update Tekton Task Bundles in common_mce_2.9.yaml
  pipelines/common_mce_2.9.yaml
Owners: @zhujian7, @xuezhaojun

chore: update Tekton Task Bundles in common_mce_2.10.yaml
  pipelines/common_mce_2.10.yaml
Owners: @zhujian7, @xuezhaojun

chore: update Tekton Task Bundles in common-oci-ta.yaml
  pipelines/common-oci-ta.yaml
Owners: @clyang82

chore: update Tekton Task Bundles in common_mce_2.7.yaml
  pipelines/common_mce_2.7.yaml
Owners: @zhujian7, @xuezhaojun

chore: update Tekton Task Bundles in common_mce_2.6.yaml
  pipelines/common_mce_2.6.yaml
Owners: @zhujian7, @xuezhaojun

chore: update Tekton Task Bundles in common_mce_2.8.yaml
  pipelines/common_mce_2.8.yaml
Owners: @zhujian7, @xuezhaojun

.github/CODEOWNERS:

# CODEOWNERS file for granular ownership of .tekton files
# This file defines who needs to review changes to specific files or directories

# Default owners for the entire repository
* @zhujian7 @xuezhaojun

# Specific ownership for .tekton pipeline files
# Each file can be assigned to different maintainers for specialized review

.tekton/common-pipeline-pull-request.yaml @xuezhaojun
.tekton/common-pipeline-push.yaml @xuezhaojun
.tekton/common-pipeline-mce-* @zhujian7 @xuezhaojun
.tekton/common-pipeline-oci-ta-pull-request.yaml @clyang82
.tekton/common-pipeline-fbc-pull-request.yaml @clyang82

# Pipeline source files
pipelines/common.yaml @xuezhaojun
pipelines/common_mce_* @zhujian7 @xuezhaojun
pipelines/common-oci-ta.yaml @clyang82
pipelines/common-fbc.yaml @clyang82

# Automation scripts
update-tekton-task-bundles.sh @xuezhaojun
.github/workflows/ @xuezhaojun
