Repository stolostron/konflux-build-catalog, changes with the owners that .github/CODEOWNERS names for each.
All owners: @zhujian7, @xuezhaojun, @jnpacker, @clyang82

chore: update Tekton Task Bundles in common-fbc.yaml
  pipelines/common-fbc.yaml
Owners: @clyang82

chore: update Tekton Task Bundles in common-oci-ta.yaml
  pipelines/common-oci-ta.yaml
Owners: @clyang82

chore: update Tekton Task Bundles in common_mce_2.7.yaml
  pipelines/common_mce_2.7.yaml
Owners: @zhujian7, @xuezhaojun

chore: update Tekton Task Bundles in common_mce_2.9.yaml
  pipelines/common_mce_2.9.yaml
Owners: @zhujian7, @xuezhaojun

chore: update Tekton Task Bundles in common_mce_2.6.yaml
  pipelines/common_mce_2.6.yaml
Owners: @zhujian7, @xuezhaojun

chore: update Tekton Task Bundles in common_mce_2.8.yaml
  pipelines/common_mce_2.8.yaml
Owners: @zhujian7, @xuezhaojun

chore: update Tekton Task Bundles in common_mce_2.10.yaml
  pipelines/common_mce_2.10.yaml
Owners: @zhujian7, @xuezhaojun

chore: update Tekton Task Bundles in common.yaml
  pipelines/common.yaml
Owners: @clyang82

add owner dislbenn
  OWNERS
Owners: @zhujian7, @xuezhaojun, @jnpacker

chore: update Tekton Task Bundles in common-oci-ta.yaml
  pipelines/common-oci-ta.yaml
Owners: @clyang82

chore: update Tekton Task Bundles in common_mce_2.7.yaml
  pipelines/common_mce_2.7.yaml
Owners: @zhujian7, @xuezhaojun

chore: update Tekton Task Bundles in common_mce_2.8.yaml
  pipelines/common_mce_2.8.yaml
Owners: @zhujian7, @xuezhaojun

chore: update Tekton Task Bundles in common_mce_2.6.yaml
  pipelines/common_mce_2.6.yaml
Owners: @zhujian7, @xuezhaojun

chore: update Tekton Task Bundles in common_mce_2.10.yaml
  pipelines/common_mce_2.10.yaml
Owners: @zhujian7, @xuezhaojun

chore: update Tekton Task Bundles in common.yaml
  pipelines/common.yaml
Owners: @clyang82

chore: update Tekton Task Bundles in common-fbc.yaml
  pipelines/common-fbc.yaml
Owners: @clyang82

chore: update Tekton Task Bundles in common_mce_2.9.yaml
  pipelines/common_mce_2.9.yaml
Owners: @zhujian7, @xuezhaojun

chore: add MCE_VERSION build arg to common_mce_2.9.yaml
  pipelines/common_mce_2.9.yaml
Owners: @zhujian7, @xuezhaojun

Update common pipeline file.
  pipelines/common.yaml
Owners: @clyang82

Introduce run-opm-command task
  .tekton/common-pipeline-fbc-pull-request.yaml
  pipelines/common-fbc.yaml
  v4.13/Containerfile.catalog
  v4.13/catalog-template.json
Owners: @clyang82, @zhujian7, @xuezhaojun, @jnpacker

chore: update Tekton Task Bundles in common-fbc.yaml
  pipelines/common-fbc.yaml
Owners: @clyang82

chore: update Tekton Task Bundles in common_mce_2.9.yaml
  pipelines/common_mce_2.9.yaml
Owners: @zhujian7, @xuezhaojun

chore: update Tekton Task Bundles in common_mce_2.6.yaml
  pipelines/common_mce_2.6.yaml
Owners: @zhujian7, @xuezhaojun

chore: update Tekton Task Bundles in common_mce_2.10.yaml
  pipelines/common_mce_2.10.yaml
Owners: @zhujian7, @xuezhaojun

chore: update Tekton Task Bundles in common_mce_2.8.yaml
  pipelines/common_mce_2.8.yaml
Owners: @zhujian7, @xuezhaojun

chore: update Tekton Task Bundles in common.yaml
  pipelines/common.yaml
Owners: @clyang82

chore: update Tekton Task Bundles in common_mce_2.7.yaml
  pipelines/common_mce_2.7.yaml
Owners: @zhujian7, @xuezhaojun

chore: update Tekton Task Bundles in common-oci-ta.yaml
  pipelines/common-oci-ta.yaml
Owners: @clyang82

chore: update Tekton Task Bundles to latest versions
  pipelines/common.yaml
  pipelines/common_mce_2.10.yaml
  pipelines/common_mce_2.6.yaml
  pipelines/common_mce_2.7.yaml
  pipelines/common_mce_2.8.yaml
  pipelines/common_mce_2.9.yaml
Owners: @clyang82, @zhujian7, @xuezhaojun

feat: add mce-version parameter to MCE pipeline variants
  pipelines/common_mce_2.10.yaml
  pipelines/common_mce_2.6.yaml
  pipelines/common_mce_2.7.yaml
  pipelines/common_mce_2.8.yaml
Owners: @zhujian7, @xuezhaojun

Introduce run-opm-command task
  .tekton/common-pipeline-fbc-pull-request.yaml
  pipelines/common-fbc.yaml
  v4.13/Containerfile.catalog
  v4.13/catalog-template.json
  v4.13/catalog/multicluster-global-hub-operator-rh/catalog.json
Owners: @clyang82, @zhujian7, @xuezhaojun, @jnpacker

docs: update table of contents in common-pipeline-configurations.md
  docs/common-pipeline-configurations.md
Owners: @zhujian7, @xuezhaojun, @jnpacker

fix duplicate package "multicluster-global-hub-operator-rh"
  v4.13/Containerfile.catalog
  v4.13/catalog-template.json
  v4.13/catalog/multicluster-global-hub-operator-rh/catalog.json
Owners: @zhujian7, @xuezhaojun, @jnpacker

Fix EC errors
  .tekton/common-pipeline-fbc-pull-request.yaml
  .tekton/images-mirror-set.yaml
  v4.13/catalog-template.json
Owners: @clyang82, @zhujian7, @xuezhaojun, @jnpacker

Instantiate common MintMaker configs
  mintmaker/README.md
  mintmaker/default.json
  mintmaker/gomod_security_only.json
Owners: @zhujian7, @xuezhaojun, @jnpacker

Fix EC errors
  .tekton/common-pipeline-fbc-pull-request.yaml
  v4.13/images-mirror-set.yaml
Owners: @clyang82, @zhujian7, @xuezhaojun, @jnpacker

idms does not work
  .tekton/common-pipeline-fbc-pull-request.yaml
  v4.13/Containerfile.catalog
  v4.13/catalog-template.json
  v4.13/images-mirror-set.yaml
Owners: @clyang82, @zhujian7, @xuezhaojun, @jnpacker

chore: update Tekton Task Bundles in common-oci-ta.yaml
  pipelines/common-oci-ta.yaml
Owners: @clyang82

chore: update Tekton Task Bundles in common_mce_2.10.yaml
  pipelines/common_mce_2.10.yaml
Owners: @zhujian7, @xuezhaojun

chore: update Tekton Task Bundles in common_mce_2.9.yaml
  pipelines/common_mce_2.9.yaml
Owners: @zhujian7, @xuezhaojun

.github/CODEOWNERS:

# CODEOWNERS file for granular ownership of .tekton files
# This file defines who needs to review changes to specific files or directories

# Default owners for the entire repository
* @zhujian7 @xuezhaojun @jnpacker

# Specific ownership for .tekton pipeline files
# Each file can be assigned to different maintainers for specialized review

.tekton/common-pipeline-pull-request.yaml @clyang82
.tekton/common-pipeline-push.yaml @clyang82
.tekton/common-pipeline-mce-* @zhujian7 @xuezhaojun
.tekton/common-pipeline-oci-ta-pull-request.yaml @clyang82
.tekton/common-pipeline-fbc-pull-request.yaml @clyang82

# Pipeline source files
pipelines/common.yaml @clyang82
pipelines/common_mce_* @zhujian7 @xuezhaojun
pipelines/common-oci-ta.yaml @clyang82
pipelines/common-fbc.yaml @clyang82

# Automation scripts
update-tekton-task-bundles.sh @xuezhaojun
.github/workflows/ @xuezhaojun
